In [1]:
import metadata_funs

In [ ]:
pub_paths = os.path.join(os.getcwd(),'publications_lim.json')


with open(pub_paths) as json_file:
    data = json.load(json_file)

In [13]:
doi = "10.1177/0042098017740285"
title = "The healthfulness of food and beverage purchases after the federal food package revisions: The case of two New England states"
journal = "Urban Studies"

In [19]:
doi = "10.1080/10454446.2018.1428259"
title = "A comparative analysis of hedonic models of nutrition information and health claims on food products: An application to soup products"
journal = "Journal of Food Products Marketing"

In [20]:
a = metadata_funs.get_hash((doi,title,journal))

In [21]:
b = metadata_funs.get_hash((doi,title,journal))

In [22]:
a == b

True

In [23]:
import datetime

now = datetime.datetime.now()

In [25]:
now.strftime("%Y-%m-%d")

'2019-08-07'

In [35]:
import os
search_path = os.getcwd() + '/metadata'

In [32]:
os.getcwd()
# os.path.join(os.getcwd(),"/metadata")

'/Users/sophierand/RichContextMetadata'

In [36]:
search_path

'/Users/sophierand/RichContextMetadata/metadata'

In [38]:
pub_paths = [f for f in os.listdir(search_path) if f.endswith("pubs.json")]

In [39]:
a

['20190807manually_curated_pubs.json', '20190807stringsearch_pubs.json']

In [37]:
for file in os.listdir(search_path):
    if file.endswith("pubs.json"):
        print(os.path.join(search_path, file))

/Users/sophierand/RichContextMetadata/metadata/20190807manually_curated_pubs.json
/Users/sophierand/RichContextMetadata/metadata/20190807stringsearch_pubs.json

In [40]:
now = datetime.datetime.now()

In [47]:
now = str(datetime.datetime.now())
metadata_funs.get_hash(str(datetime.datetime.now()))

'4c5e643e341a714ebe2d'

In [46]:
now = str(datetime.datetime.now())
metadata_funs.get_hash(now)

'bce22ba3b64720ee4683'

In [48]:
os.path.join(os.getcwd(),'metadata/{}manually_curated_pubs.json'.format(metadata_funs.get_hash(str(datetime.datetime.now()))))

'/Users/sophierand/RichContextMetadata/metadata/e7e213b80248e04d1a50manually_curated_pubs.json'

In [49]:
search_path = '/Users/sophierand/RichContextMetadata/metadata'
pub_paths = [f for f in os.listdir(search_path) if f.endswith("pubs.json")]

In [52]:
pub_paths

['/Users/sophierand/RichContextMetadata/e91cc53a23d1f751218cmanually_curated_pubs.json',
 '/Users/sophierand/RichContextMetadata/8020556fae9ad47eff59stringsearch_pubs.json']

In [51]:
pub_paths = [os.path.join(os.getcwd(),f) for f in os.listdir(search_path) if f.endswith("pubs.json")]

In [53]:
import pandas as pd

In [54]:
os.listdir(os.getcwd())

['dimensions_search_api_client.py',
 'stringsearch_publications.py',
 '.DS_Store',
 'append_linkages.ipynb',
 'scratch.ipynb',
 'test.csv',
 'example_data',
 '__pycache__',
 'gen_adrf_view.ipynb',
 'README.md',
 'usda',
 'gen_publication_linkages.py',
 'test.xlsx',
 '.gitignore',
 'gen_publications.py',
 'scrap',
 '.ipynb_checkpoints',
 'gen_datasets.py',
 '.git',
 'manually_curated_publications.py',
 'metadata_funs.py',
 'metadata',
 'openaire']

In [55]:
data_dictionary = pd.read_csv('test.csv', sep=',')

In [57]:
data_dictionary
data_dictionary.join(s.apply(lambda x: Series(x.split(':'))))

,Title,Related Datasets,DOI
0,"Incarceration Length, Employment, and Earnings",1;2;3;36;55,10.3386/w12003
1,Prison-based Education and Re-entry into the M...,1;2;36;55,10.3386/w12114
2,Moving to Opportunity in Boston: Early Results...,34,doi: 10.1162/00335530151144113
3,"Neighborhoods, Race, and Recidivism: The Commu...",1;2;5;6;36;55,doi:10.1177/0307920107073250
4,The Effect of Education on Crime: Evidence fro...,5;6,10.1257/000282804322970751
5,Neighborhood Effects On Crime For Female And M...,4;37,doi:10.1162/0033553053327470
6,Urban Poverty and Juvenile Crime: Evidence fro...,4;37,doi:10.1162/00335530151144122
7,Escaping Low Earnings: The Role of Employer Ch...,3;8;9,10.2307/4126683
8,National Estimates of Gross Employment and Job...,3;5;6;34,10.1016/j.jeconom.2010.09.008
9,Does Federally-Funded Job Training Work? Nonex...,3;8;9,10.3386/w19446
10,Temporary Help Agencies and the Advancement Pr...,3;5;6;8;9;10;11,10.3386/w13434

In [60]:
split_df = pd.concat([pd.Series(row['Title'], row['Related Datasets'].split(',')) for _, row in data_dictionary.iterrows()])

In [61]:
split_df

1;2;3;36;55           Incarceration Length, Employment, and Earnings
1;2;36;55          Prison-based Education and Re-entry into the M...
34                 Moving to Opportunity in Boston: Early Results...
1;2;5;6;36;55      Neighborhoods, Race, and Recidivism: The Commu...
5;6                The Effect of Education on Crime: Evidence fro...
4;37               Neighborhood Effects On Crime For Female And M...
4;37               Urban Poverty and Juvenile Crime: Evidence fro...
3;8;9              Escaping Low Earnings: The Role of Employer Ch...
3;5;6;34           National Estimates of Gross Employment and Job...
3;8;9              Does Federally-Funded Job Training Work? Nonex...
3;5;6;8;9;10;11    Temporary Help Agencies and the Advancement Pr...
dtype: object

In [62]:
df = data_dictionary

In [63]:
s = df['Related Datasets'].str.split(',').apply(pd.Series,1).stack()
s.index = s.index.droplevel(-1)
# s.name = "Genes"

In [64]:
s

0         1;2;3;36;55
1           1;2;36;55
2                  34
3       1;2;5;6;36;55
4                 5;6
5                4;37
6                4;37
7               3;8;9
8            3;5;6;34
9               3;8;9
10    3;5;6;8;9;10;11
dtype: object

In [74]:
from pandas import DataFrame
new = pd.concat([pd.Series(row['Title'], row['Related Datasets'].split(';')) for _, row in df.iterrows()]).reset_index()
new = new.rename(columns={"index": "dataset_id", 0: "Title"})
newer = pd.merge(df,new,how = 'left',on = 'Title')

In [76]:
newer_export = newer[['Title','DOI','dataset_id']]

In [80]:
newer_export.to_csv('tanf.csv')

In [84]:
import gen_datasets
import importlib
importlib.reload(gen_datasets)

In [87]:
lim_excel_df_sheets  = gen_datasets.read_data_dictionary()
dd_df = gen_datasets.gen_data_dictionary(lim_excel_df_sheets)
dd_df_lim = dd_df[['adrf_id','title']]

In [88]:
dd_df_lim.head()

       adrf_id                                              title
0  adrf-000001  Illinois Department of Corrections (DOC) Inmat...
1  adrf-000002  Illinois Department of Corrections (DOC) Inmat...
2  adrf-000003  Illinois Department of Employment Security (ID...
3  adrf-000004  US Department of Housing and Urban Development...
4  adrf-000034  Illinois Department of Employment Security (ID...

In [92]:
newer_export.head()

                                            Title             DOI dataset_id
0  Incarceration Length, Employment, and Earnings  10.3386/w12003          1
1  Incarceration Length, Employment, and Earnings  10.3386/w12003          2
2  Incarceration Length, Employment, and Earnings  10.3386/w12003          3
3  Incarceration Length, Employment, and Earnings  10.3386/w12003         36
4  Incarceration Length, Employment, and Earnings  10.3386/w12003         55

In [97]:
tanf_df = pd.read_csv('tanf.csv')
# newer_export.head()
tanf_df.head()

,Unnamed: 0,Title,DOI,adrf_id
0,0,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000001
1,1,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000002
2,2,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000003
3,3,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000036
4,4,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000055

In [94]:
joined_df = pd.merge(tanf_df,dd_df_lim,how = 'inner', on = 'adrf_id')

In [95]:
joined_df.head()

,Title,DOI,adrf_id,title
0,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000001,Illinois Department of Corrections (DOC) Inmat...
1,Prison-based Education and Re-entry into the M...,10.3386/w12114,adrf-000001,Illinois Department of Corrections (DOC) Inmat...
2,"Neighborhoods, Race, and Recidivism: The Commu...",doi:10.1177/0307920107073250,adrf-000001,Illinois Department of Corrections (DOC) Inmat...
3,"Incarceration Length, Employment, and Earnings",10.3386/w12003,adrf-000002,Illinois Department of Corrections (DOC) Inmat...
4,Prison-based Education and Re-entry into the M...,10.3386/w12114,adrf-000002,Illinois Department of Corrections (DOC) Inmat...

In [96]:
joined_df.to_csv('tanf_joined.csv')